<div class="ui center aligned container">

  <h2 class="ui teal header">
    <div class="content">
      Messages
    </div>
  </h2>

  <div class="ui comments box">
    <div class="comment" *ngFor="let msg of msgs">
      <a class="avatar">
        <img src="../../assets/user.png">
      </a>
      <div class="content">
        <a class="author">{{msg.user.username}}</a>
        <div class="text">
          {{msg.message}}
        </div>
      </div>
    </div>
  </div>


  <div class="ui reply form inputBox">
    <div class="field">
      <input [(ngModel)]="newMsg">
    </div>
    <div class="ui primary submit labeled icon button" (click)="addMsg()">
      <i class="icon edit"></i> Add Message
    </div>
  </div>
</div>
