<div class="centerLogin">

  <div class="column">
    <h2 class="ui teal image header">
      <!--<img src="assets/images/logo.png" class="image">-->
      <div class="content">
        Sign up for an account
      </div>
    </h2>
    <form class="ui large form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="user.firstname" required
                   id="firstname" #firstname="ngModel"
                   [ngClass]="{'has-error':(!firstname.valid && firstname.touched)}"
            >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.lastname" required
                   id="lastname" #lastname="ngModel"
                   [ngClass]="{'has-error':(!lastname.valid && lastname.touched)}"
            >
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text"
                   name="email" [(ngModel)]="user.username" placeholder="username"
                   [ngClass]="{'has-error':(!email.valid && email.touched)}"
                   required #email="ngModel"
            >
          </div>
          <div class="error" *ngIf="!email.valid && email.touched && (email.value!='')">
            Email is Invalid
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required
                   id="password" #password="ngModel"
                   [ngClass]="{'has-error':(!password.valid && password.touched)}"
            >
          </div>
        </div>

        <button class="ui fluid large teal submit button" [disabled]="!f.valid">Sign Up</button>
      </div>

    </form>

    <div class="ui message">
      Already had an account <a [routerLink]="['/login']">Login</a>
    </div>
  </div>
</div>
