<div class="centerLogin">

  <div class="column">
    <h2 class="ui teal image header">
      <!--<img src="assets/images/logo.png" class="image">-->
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" (ngSubmit)="login(f)" #f="ngForm">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text"
                   id="username"
                   name="username" [(ngModel)]="user.username" placeholder="username"
                   [ngClass]="{'has-error':(!username.valid && username.touched)}"
                   required #username="ngModel">
          </div>
          <div class="error" *ngIf="!username.valid && username.touched">
            username is Invalid.
          </div>
        </div>


        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" required
                   id="password" #password="ngModel"
                   [ngClass]="{'has-error':(!password.valid && password.touched)}"
            >
          </div>
        </div>


        <button class="ui fluid large teal submit button" [disabled]="!f.valid">Login</button>
      </div>

    </form>
    <div class="ui message">
      New to us? <a [routerLink]="['/register']">Sign Up</a>
    </div>
  </div>
</div>
