.centerLogin {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.has-error {
  border: 1px solid #9F3A38 !important;
  color: #9F3A38 !important;

}

.error {
  color: #9F3A38 !important;
  font-size: 0.7em;
  text-align: center;
  padding-top: 5px;
}
